.App {
  font-family: "Open Sans", serif;
  text-align: center;
  letter-spacing: .5px;
  position: relative;
  top: -8px;
  left: -8px;
  background-color: #FAFFA; 
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  }


h1 {
  font-family: "EB Garamond", sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin: 0px 0 10px 0;
  letter-spacing: .5;

}

h2 {
  font-family: "EB Garamond", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

h3 {
  font-family: "EB Garamond", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 1px;
}

p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 28px;
  letter-spacing: .5px;
  color: #1e1e1e;
}

.margin-top {
  margin-top: 40px;
}

/*NAV/////////////////////*/

.nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  font-family: "Open Sans Condensed", serif;
  height: 65px;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(11,11,67, 0.75);
  position: fixed;
}

.hamburger-react {
  position: absolute !important;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.logo {
  width: 65px;
  align-self: flex-start;
  padding: 5px 0px 0px 20px;
  z-index: 9999;
}

.logo-link-tag {
  z-index: 99;
}

.big-logo {
  width: 100px;
  align-self: start;
  padding: 5px 0px 0px 20px;
}

.nav-links-home {
  width: 100vw;
  position: fixed;
  right: 0px;
  top: 12px;
  text-align: right;
  z-index: 1;
}

.nav-links-mobile {
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(11,11,67);
  z-index: 1;
  overflow-y: hidden;
  padding-top: 0px;
  background-size: cover;
}

.nav-links-mobile button {
  height: 50px;
  width: 170px;
  background-color: white;
  color: #0b0b43;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  display: inline-block;
}

.nav-links-mobile a {
  margin-top: 25px;
  color: white;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  letter-spacing: 2.5px;
}

.nav-links-mobile a:first-child {
  margin-top: 100px;
}

.hide-mobile-nav {
  height: 0px !important;
  -webkit-transition: height .4s ease;
}

.show-mobile-nav {
  height: 100vh !important;
  -webkit-transition: height .4s ease;
}

.mobile-button-box {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  justify-content: center;
}

.nav-links {
  width: 100%;
  position: absolute;
  right: -17px;
  top: 12px;
  text-align: right;
}

.nav-links a {
  margin-right: 30px;
  font-size: 16px;
  color: black;
}

.nav-links-home a {
  margin-right: 30px;
  font-size: 16px;
  color: white;
}

.nav-links-home a:hover {
  border-bottom: 1.5px solid white;
  /*box-shadow: 0px 0px 20px #eae7e7;
  background-color: rgba(231, 231, 231, 0.3);*/
}

.nav-links-home button {
  height: 40px;
  width: 130px;
  background-color: #0b0b43;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  margin-right: 30px;
}

.nav-links a:hover {
  border-bottom: 1.5px solid #0b0b43;
}

.nav-links button {
  height: 40px;
  width: 130px;
  background-color: #0b0b43;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  margin-right: 30px;
}

.nav-links-home .donate-button {
  background-color: white;
  color: #0b0b43;
}

.link {
  /* color: white; */
  text-decoration: none;
  letter-spacing: 1px;
}

.button-link-dark {
  color:  #0b0b43 !important;
  text-decoration: none;
  margin-right: 0px !important;
}

.button-link {
  color:  white !important;
  text-decoration: none;
  margin-right: 0px !important;
}

.button-link:hover {
  border-bottom: none !important;
}

/*BODY///////////////////////*/

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 140px;
}

.centered-image {
  background-size: cover;
  width: 100vw;
  height: 400px;
  margin: 20px 40px 20px 40px;
}

.centered-content {
  width: 70%;
  margin: 20px 60px 20px 60px;
}

.main {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  display: block;
  /*margin-top: -120px;*/
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 370px;
  /*top: 7%;*/
  left: 30px;
}

.subtitle {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 460px;
  /*top: 9%;*/
  left: 30px;
}

.slide {
  display: flex;
  flex-direction: row;
  padding: 70px 5% 10px 5%;
  align-content: space-between;
  width: 90%;
  flex-wrap: nowrap;
}

.column {
  flex-direction: column !important;
}

.slide .copy {
  width: 50%;
  /* margin: 0 10% 0 5%; */
  margin: 20px;
  text-align: left;
}

.slide .copy p {
  /*color:  #6b6b6b;*/
}

.slide img {
  width: 43%;
  height: auto;
  border-radius: 4px;
  margin: 20px;
}

.slide button {
  height: 50px;
  width: 150px;
  background-color: #0b0b43;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  position: relative;
  top: 0;
  left: 5px;
}

.gif button {
  height: 50px;
  width: 170px;
  background-color: #0b0b43;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px #a1a1a1;

}

.gif {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.about-photo {
  background-size: cover;
  width: 100vw;
  height: 700px;
  margin: 40px 0 40px 0;

}

.gif h2 {
  font-size: 40px;
  padding-top: 140px;
  color: white;
  width: 100%;
  text-align: center;
}

.homepage-widget {
  display: flex;
  flex-direction: row;

}

.homepage-widget > div {
  width: 28%;
  margin: 2.5%;
  height: 440px;
  border: 2px dotted #0b0b43;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 1px;
  position: relative;
}

.homepage-widget > div:hover {
  box-shadow: 0px 0px 20px rgba(161,161,161, 0.75); 
}


.widget-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.widget-text p{
  font-size: 14px;
}

.widget-text .sharedaddy {
  display: none;
}



/* ~~~~~~ACTIVITIES~~~~~~~~~~ */
.page-wrap {
  padding-top: 40px;
}

.activity-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 80px;
}

.activity-list h1 {
  font-size: 48px;
  width: 100%;
}

.activity-list h2 {
  font-weight: 500;
  font-size: 28px;
  padding: 10px;
  color: black;
  font-family: "EB Garamond", serif;
} 

.activity-list p {
  font-size: 16px;
  font-weight: 400;
  /*width: 800px;*/
  padding: 0 200px 10px 200px;
  line-height: 24px;
  font-family: 'Open Sans';
  color: #6a6a6a;
}

.subnav {
  margin-bottom: 40px;
}

.subnav h2 {
  font-weight: 500;
  font-size: 28px;
  padding: 10px;
  color: black;
  font-family: "EB Garamond", serif;
}

.subnav a {
  padding: 10px;
  color: black;
}

.activity-img {
  width: 30%;
  height: 600px;
  text-decoration: none;
  margin-bottom: 40px;
  border-radius: 5px;
}

.activity-img div {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  background-size: cover;
  margin: 0 20px 20px 0;
  text-decoration: none;
  position: relative;
}

.activity-img:hover {
  box-shadow: 0px 0px 20px #a1a1a1;
}

.activity-img h3 {
  font-family: "EB Garamond", serif;
  color: black;
  font-size: 28px;
  text-align: left;
  padding-left: 10px;
}

.activity-img p {
  color: black;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 16px;
  background-color:  ;
  text-align: left;
  padding: 0 10px 0 10px;
  color: #6a6a6a;
  font-weight: 400;
}

.activity-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 20px 5% 40px 5%;
}

.activity-wrapper img {
  margin: 40px 20px 0px 20px;
  width: 35%;
}

.activity-header {
  margin-top: 100px;
  text-align: left;
  margin-left: 60px;
  width: 20%;
}

.activity-content {
  width: 60%;
  text-align: left;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.activity-content h1 {
  font-size: 42px;
  margin: 10px 0px; 
}

.activity-content a {
  text-decoration: none;
  font-family: 'EB Garamond';
  color: #6a6a6a;
  font-size: 18px;
}

.activity-content p {
  margin: 20px 0 0 0;
  text-align: left;
  font-size: 16px;
}

.activity-gallery img {
  border-radius: 4px;
  width: 40%;
  margin: 10px!important;

}

.activity-gallery {
  margin-top: 60px;
  width: 50%;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;*/
}


/*FOOTER**********************/

.footer {
  width: 102%;
  color: white;
  background-color: #0b0b43;
  height: 310px;
  position: absolute;
  /*padding-top: 100px;*/
}

.footer p:first-child {
  padding-top: 30px;
}

.camp-info {
  position: absolute;
  text-align: right;
  right: 20px;
  top: 30px;
  
  line-height: 8px;
  padding-right: 40px;
  color: white;
}

.camp-info p {
  color: white;
  font-size: 14px;
  line-height: 8px;
}

.camp-blurb {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 150px;
}

.camp-blurb p {
  font-weight: 300;
  line-height: 10px;
}

.social {
  width: 200px;
  position: absolute;
  top: 180px;
  right: 10px;
}

.social img {
  width: 30px;
  padding-left: 10px;
}

.centered-bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}

.centered-bottom p {
  color: white;
  font-size: 14px;
}

.site-map {
  display: flex;
  flex-direction: row;
}

.site-map div {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0 60px;
}

.site-map div h3 {
  line-height: 10px;
}

.site-map div a {
  color: white;
  text-decoration: none;
  padding-top: 10px;
}

/*BLOG**************/

.blog {
  padding-top: 40px;
  width: 80%;

}

.blog li {
  list-style: none;
}

.widget {
  height: 600px;
  width: 100%;
  background-color: blue;
}

@media only screen 
  and (max-width: 875px) {

    .main {
      height: 50vh;
      background-position: -200px 0;
    }

    .title {
      top: 300px;
      left: 30px;
      font-size: 40px;
    }

    .subtitle {
      font-size: 20px;
      top: 345px;
      left: 30px;
    }

    .slide {
      padding-top: 20px;
    }

    .slide .copy {
      width: 100%;
    }

    .slide img {
      width: 90%;
    }

    .slide button {
      margin-top: 0px;
    }

    .homepage-widget {
      flex-direction: column;
    }

    .homepage-widget > div {
      width: 95%;
    }

    .gif {
      height: 50vh;
    }

    .gif h2 {
      font-size: 26px;
      padding-top: 130px;
    }

    .footer {
      height: 600px;
    }

    .camp-info {
      padding: 5px;
      top: 270px;
    }

    .camp-info p {
      line-height: 18px;
    }

    .social {
      top: 240px;
      left: 25%;
    }

    .centered-bottom {
      width: 90%;
      bottom: 5px;
    }

    .centered-content {
      margin: 20px 40px 20px 40px;
      width: 90%;
    }

    .centered-image {
      margin: 0px;
      height: 18vh;
      background-position: -57px 0px;
    }

    .about-photo {
      height: 50vh;
      background-position: -90px;
    }

    .activity-wrapper {
      flex-direction: column;
    }

    .activity-content {
      width: 90%;
    }

    .activity-wrapper img {
      width: 90%;
    }

    .blog img {
      width: 100%;
      height: auto;
    }
}